@import "../../../const/index.scss";

.icon {
  margin-right: 20px;
  max-height: 20px;
  cursor: pointer;

  &-image {
    width: $header-icon-width;
    height: $header-icon-height;
  }

  &:last-child {
    margin-right: 0px;
  }
}
