@import '../../../const/index.scss';

.icon {

    margin-right: 8px;    

    &-image {        
        width: $header-icon-width;
        height: $header-icon-height;        
    }    

    &.exclude {
        margin-right: 0px;
    }
}