@import '../../../../const/index.scss';

.email-header {
  padding: 16px;
  border-bottom: 1px solid $light;

  display: flex;
  align-items: center;
  background-color: #fff;

  &-checkbox {
    margin-right: 12px;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $green;
      opacity: 0.4;
      transition: border 0.2s ease-in-out;

      & g {
        fill: $green;
      }
    }

    &-active {
      border: 1px solid $green;
      transition: border 0.2s ease-in-out;

      & g {
        fill: $green;
      }
    }
  }

  &-text {
    &-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    &-subtitle {
      display: flex;
      align-items: center;
    }
  }
}
