@import "../../../../../const/index.scss";

.tableItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 8px;
  border-bottom: $light;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &-column {
    &.lhs {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    &.rhs {
      align-items: center;
      margin-right: 8px;
    }

    &-accessory {
      margin-right: 16px;
    }

    &-labelsContainer {
      align-items: center;

      &-titleContainer {
        display: flex;
        align-items: center;

        &-category {
          margin-right: 4px;
          opacity: 1;                    
        }

        &-categoryDots {
          transition: 0.2s ease-out;
          transform: scale3d(0, 1, 1);          
        }

        &-title {
          font-family: AvenirNext;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #2b2d42;
        }

        &.active {
          transform: scale3d(1, 1, 1);
          margin-left: 8px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &-subject {
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8d99ae;

        margin-top: 4px;
      }
    }

    &-status {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #ef233c;

      margin-bottom: 4px;
    }

    &-remainingTime {
      font-family: AvenirNext;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #2b2d42;
    }
  }
}
