@import '../../const/index.scss';

$size: 18px;

.checkbox {
  display: flex;
  align-items: center;
  border: 1px solid $light;
  width: $size;
  height: $size;
  padding: 8px;
  border-radius: $size;
  &-icon {
    width: $size;
    height: $size;
  }

  &-title {
  }
}
