@import '../../const/index.scss';

$size: 14px;

.checkbox {
  display: flex;
  align-items: center;
  border: 1px solid $light;
  width: $size;
  height: $size;
  padding: 8px;
  border-radius: 50%;
  transition: border 0.2s ease-in-out;
  &-icon {
    width: $size;
    height: $size;

    g {
      transition: all 0.2s ease-in-out;
    }
  }
}
