// colors
$light: #e5e5e5;
$grey: #8d99ae;
$dark: #2b2d42;
$red: #ef233c;
$yellow: #ffb63f;

//Dashboard
$dashboard-background-image: linear-gradient(180deg, #14213d 0%, rgba(253, 253, 253, 0) 100%);
$dashboard-padding: 20px;

// Header
$header-icon-width: 40px;
$header-icon-height: 40px;
