@import '../../const/index.scss';

@mixin fill($position) {
  position: $position;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.detailed-view {
  @include fill(fixed);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  &-overlay {
    @include fill(absolute);
    background-color: rgba($dark, 0.8);
    transition: 0.2s ease-out;
    opacity: 0;
  }

  &-body {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 90%;
    max-width: 768px;
    margin: 0 auto;
    transition: 0.2s ease-out;
    opacity: 0;
    &-content {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 8px;
      padding-bottom: 8px;
      transition: 0.2s ease-out;
      transform: scale3d(0.94, 0.94, 1) translate3d(0, 15%, 0);
    }

    &-ctas {
      position: absolute;
      bottom: 16px;
      right: -20px;
      opacity: 0;
      transform: translate3d(90%, 0, 0);
      transition: 0.2s ease-out;
      transition-delay: 0.05s;
    }

    &-cross {
      position: absolute;
      top: 16px;
      right: -20px;
      transform: translate3d(100%, 0, 0);
      cursor: pointer;
      transition: 0.1s ease-out;
      &:hover {
        transform: translate3d(100%, 0, 0) scale(1.1, 1.1);
      }
    }
  }

  &.active {
    pointer-events: auto;
    .detailed-view-overlay {
      opacity: 1;
    }
    .detailed-view-body {
      opacity: 1;
    }
    .detailed-view-body-content {
      transform: translate3d(0, 0, 0);
    }

    .detailed-view-body-ctas {
      transform: translate3d(100%, 0, 0);
      opacity: 1;
    }
  }
}
