@import '../../const/index.scss';

.dashboard {

    display: flex;
    flex: 1;
    flex-direction: column;    

    background-image: $dashboard-background-image;
    padding: $dashboard-padding;    
}
