@import "../../const/index.scss";

.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #14213d 0%,
    rgba(253, 253, 253, 0) 40%
  );
  padding: 40px;
}
