@import '../../../../const/index.scss';

.email-body {
  flex: 1;
  padding: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  max-width: 80%;
  * {
    -webkit-font-smoothing: initial;
  }
}
