.tabBar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    &-column {

        &.lhs {     
            display: flex; 
            align-items: center;      
        }

        &.rhs {  
            display: flex;          
            align-items: center;            
        }
    }
}